/* You can add global styles to this file, and also import other style files */
:root {
  --color-background-primary: #ffffff;
  --color-background-secondary: #f4f5f7;
  --color-background-tertiary: #f8faf8;
  --color-border-secondary: #e2e8f0;
  --color-border-tertiary: #edf2f7;
  --color-text-primary: #1e293b;
  --color-text-secondary: #64748b;
  --border-radius-md: 8px;
  --border-radius-lg: 12px;
}
