<ng-container *ngIf="isStandalonePage">
  <router-outlet></router-outlet>
</ng-container>

<ng-container *ngIf="!isStandalonePage">
  <div class="layout-wrapper">
    <app-sidebar *ngIf="userRole === 'STUDENT'"></app-sidebar> 
    <app-teacher-sidebar *ngIf="userRole === 'TEACHER'"></app-teacher-sidebar>
    <app-admin-sidebar *ngIf="userRole === 'ADMIN'"></app-admin-sidebar>
    <div class="main-wrapper">
      <app-topbar></app-topbar> 
      <main class="content-area">
        <div class="scroll-container">
          <router-outlet></router-outlet> 
          <app-footer></app-footer> 
        </div>
      </main>
    </div>
  </div>
</ng-container>